*{
    margin: 0;
    padding: 0;
}
.filters{
    padding: 30px;
}
.filter0{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(126, 122, 122);
    padding-bottom: 10px;
}
.filter1{
    display: grid;
    margin-top: 10px;
}
.filter1>div{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}